# import /vendor/etc/init/hw/init.${ro.hardware}.usb.rc

on early-init
    # mount debugfs
    mount debugfs /sys/kernel/debug /sys/kernel/debug mode=755

on init
    write /proc/sys/vm/page-cluster 0

on fs
    mount_all /vendor/etc/fstab.${ro.hardware}
    swapon_all /vendor/etc/fstab.${ro.hardware}

